* {
  box-sizing: border-box;
  padding: 0;
  /* background-color: #fcfbfc; */
  font-family: "Poppins", sans-serif;
  margin: 0;
  /* color: #423f3f; */
}

p {
  margin: 0;
  padding: 0;
}

hr {
  margin: 8px;
}

/* Styling Navbar */

.navbar {
  background-color: #fffefc;
  top: 0;
  margin-bottom: 40px;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0 6rem 0 6rem;
  z-index: 1000;
}

.logo {
  background-color: inherit;
}

.logo a {
  background-color: inherit;
}

.logo img {
  margin-top: 4px;
  height: 5.4rem;
  margin-left: 20px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
}

.navbar .nav-links {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.nav-links a {
  background-color: inherit;
  text-decoration: none;
  color: #5b5656;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #000000;
  transform: scale(1.1);
}

/* Styling Footer */

.footer {
  height: 500px;
  margin-top: 40px;
  padding: 0 8rem;
  font-size: 14px;
  color: #7883ff;
  font-weight: 600;
  background-color: #fffefc;
  text-align: center;
}

.footer-details {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  background-color: inherit;
}

.footer-logo {
  text-align: center;
  height: 160px;
  width: 200px;
  background-color: inherit;
  color: #5b5656;
}

.footer-logo-img {
  margin-top: 20px;
  height: 90px;
  width: 90px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  overflow: hidden;
}

.footer-logo-img:hover {
  transform: scale(1.05);
}

.footer-logo-title {
  margin: 0;
  font-size: 20px;
  background-color: inherit;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 60px;
  margin-left: 60px;
  background-color: inherit;
}

.footer-links div {
  max-width: 200px;
  background-color: inherit;
}

.footer-links h3 {
  font-size: 18px;
  margin-bottom: 20px;
  background-color: inherit;
  color: #5b5656;
  font-weight: bold;
}

.footer-links p {
  font-size: 13px;
  line-height: 1.8;
  color: #454242;
  /* color: #000000; */
  text-align: justify;
  word-wrap: break-word;
  margin-bottom: 60px;
  background-color: inherit;
  font-weight: 500;
}

.footer-social-links {
  color: #5b5656;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: inherit;
}

.footer-social-links div {
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  gap: 20px;
  font-size: 28px;
  margin-bottom: 60px;
  background-color: inherit;
}

.footer-social-links div a {
  /* color: #7883ff; */
  color: #5b5656;
  transition: all 0.3s ease-in-out;
  background-color: inherit;
}

.footer-social-links div a i {
  background-color: inherit;
}

.footer-social-links h3 {
  background-color: inherit;
}

.social-link-facebook:hover {
  transform: scale(1.2);
  color: #3b5998;
  background-color: inherit;
}

.social-link-instagram:hover {
  transform: scale(1.2);
  color: #e1306c;
  background-color: inherit;
}

.social-link-twitter:hover {
  transform: scale(1.2);
  color: #000000;
  background-color: inherit;
}

.social-link-linkedin:hover {
  transform: scale(1.2);
  color: #0077b5;
  background-color: inherit;
}

.social-link-github:hover {
  transform: scale(1.2);
  color: #333333;
  background-color: inherit;
}

.social-link-youtube:hover {
  transform: scale(1.2);
  color: #ff0000;
  background-color: inherit;
}

.footer-copyright {
  background-color: inherit;
}

.footer-copyright p {
  background-color: inherit;
}

/* Styling Home Page */

.home-container {
  padding: 4rem 8rem 6rem 8rem;
}

.title {
  color: #423f3f;
  margin-left: 10px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.addNotes {
  top: 9rem;
  right: 100px;
  width: 60px;
  height: 60px;
  border-radius: 26%;
  background-color: #7883ff;
  color: white;
  font-size: 40px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  position: fixed;
  margin-top: 10px;
}

.addNotes:hover {
  background-color: #5a6edc;
  transform: scale(0.9);
}

/* .notes-list {
  display: flex;
  flex-wrap: wrap;
  
  gap: 20px;
  padding: 10px;
}

.note-card {
  height: 500px;
  min-width: 300px;
  max-width: 400px;
  background-color: #fffefc;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  border: 3px solid #7883ff;
  margin-top: 80px;
}

.high {
  border: 3px solid rgb(255, 0, 0) !important;
}

.medium {
  border: 3px solid rgb(255, 255, 0);
}

.low {
  border: 3px solid rgb(0, 255, 0);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background-color: inherit;
  font-size: 16px;
  color: #5b5656;
}

.card-header h2 {
  font-weight: 500;
  background-color: inherit;
}

.card-header .test {
  background-color: inherit;
}

.test:after {
  content: "\2807";
  font-size: 20px;
  background-color: inherit;
}

.card-content {
  height: 400px;
  width: 100%;
  padding: 0 6px;
  font-size: 14px;
  text-align: justify;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: inherit;
  color: #454242;
}

.card-footer {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  text-align: center;
  color: #5b5656;
  font-weight: 500;
  background-color: inherit;
} */

.notes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

/* CARD */
.note-card {
  height: 500px;
  min-width: 300px;
  max-width: 400px;
  background-color: #fffefc !important;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 3px solid #7883ff;
}

/* PRIORITY COLORS */
.high {
  border: 3px solid rgb(255, 0, 0) !important;
}

.medium {
  border: 3px solid rgb(255, 255, 0);
}

.low {
  border: 3px solid rgb(0, 255, 0);
}

/* HEADER */
.card-header {
  height: 60px;
  flex-shrink: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #5b5656;
  background-color: inherit;
  border-bottom: 1px solid #ccc;
}

.card-header h2 {
  font-weight: 500;
  margin: 0;
}

.card-header .test:after {
  content: "\2807";
  font-size: 20px;
  padding: 0 6px 0 20px;
  cursor: pointer;
}

/* CONTENT */
.card-content {
  background-color: #fffefc !important;
  flex-grow: 1;
  padding: 10px;
  font-size: 14px;
  text-align: justify;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 15; /* adjust this as needed */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  background-color: inherit;
  color: #454242;
  cursor: text;
}

.card-content a{
  color: #454242;
  text-decoration: none;
  cursor: pointer;
}

/* FOOTER */
.card-footer {
  height: 40px;
  flex-shrink: 0;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #5b5656;
  background-color: inherit;
  border-top: 1px solid #ccc;
}



/* Styling Popup Form */

/* border: 2px solid rgba(120, 131, 255, 0.3); /* faint border */
/* box-shadow: 0 0 15px 0 rgba(120, 131, 255, 0.3); /* small-side soft glow */

.form-popup-card {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* start small */
  min-height: 500px;
  max-width: 800px;
  width: 100%;
  z-index: 999;
  border-radius: 10px;
  padding: 20px;
  background: #fffefc;
  border: 3px solid #7883ff;
  box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.263);
  color: #454242;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

/* visible state */
.form-popup-card.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1); /* scale up */
}

/* close button */
.popup-close-btn {
  height: 24px;
  width: 24px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  background-color: transparent;
  color: #5b5656;
  position: absolute;
  top: 10px;
  right: 16px;
  transition: color 0.2s;
}

.popup-close-btn:hover {
  color: #000;
}

.priority-option input[type="radio"] {
  display: none;
}

.priority-option span {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 20px;
  margin-right: 4px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #fcfbfc;
  border: 2px solid #7883ff;
  font-size: 14px;
}

.priority-option input[type="radio"]:checked + .priority-high {
  background-color: rgb(249, 69, 69);
  border-color: rgb(255, 0, 0);
  color: #000000;
}

.priority-option input[type="radio"]:checked + .priority-medium {
  background-color: rgb(255, 255, 0);
  border-color: rgb(255, 255, 0);
  color: #000000;
}

.priority-option input[type="radio"]:checked + .priority-low {
  background-color: rgb(0, 255, 0);
  border-color: rgb(0, 255, 0);
  color: #000000;
}

.due-date{
  cursor: pointer;
}

.form-title {
  background-color: inherit;
}
