<% layout('layout/boilerplate.ejs') -%>

    <div class="home-container">
        <h1 class="title">Home Page</h1>
        <button class="addNotes">+</button>

        <div class="notes-list">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Note 1</h2>
                    <div class="test"></div>
                </div>
                <p class="card-content">Success in life is not the result of luck alone, but the outcome of consistent
                    effort, learning, and resilience. Every small step taken daily shapes the larger journey ahead.
                    Failure is not the end; instead, it is a lesson that strengthens our foundation. People often
                    underestimate the power of discipline and patience, yet these qualities build habits that create
                    long-term achievements. Opportunities are everywhere, but only those prepared can recognize and use
                    them wisely. Therefore, focus on progress instead of perfection, maintain clarity in goals, and stay
                    committed, because persistence always outshines temporary motivation in the path of growth.Life is a journey filled with challallenges, opportunities, and lessons. Each day gives us a chance to grow stronger and wiser. Small habits, when practiced consistently, create lasting change. Success is never instant; it is the renges, opportunities, and lessons. Each day gives us a chance to grow stronger and wiser. Small habits, when practiced consistently, create lasting change. Success is never instant; it is the r</p>

                    <div class="card-footer">
                        <p>time</p>
                    </div>

            </div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>