<div class="footer">
    <div class="footer-details">
        <div class="logo">
            <img src="../assets/notesNew.jpg" alt="Notes App Logo">
            <br><br>
            <p>Notes App Pvt. Ltd.</p>
        </div>
        <div>
            <p>About</p>
        </div>
        <div>
            <p>Contact</p>
        </div>
        <div>
            <p>Privacy Policy</p>
        </div>
        <div>
            <p>Terms & Conditions</p>
        </div>
    </div>

    <div>
        <p>@Copyright 2025 Mihir Nirvikar</p>
    </div>
</div>