<div class="navbar">
    <div class="logo">
        <a href="/notes">
            <img src="../assets/notesNew.jpg" alt="Notes App Logo">
        </a>
    </div>
    <div class="nav-links">
        <a href="/notes">Home</a>
        <a href="/notes">About</a>
        <a href="/notes">Imp Notes</a>
        <a href="/notes">Login</a>
        <a href="/notes">Signup</a>
        <a href="/notes">Logout</a>
    </div>
</div>