<div class="navbar">
    <div class="logo">
        <a href="/notes">
            <img src="../assets/notesNew.jpg" alt="Notes App Logo">
        </a>
    </div>
    <div class="nav-links">
        <a href="/notes">Home</a>
        <a href="http://localhost:5173/notes/about">About</a>
        <a href="http://localhost:5173/notes/imp">Imp Notes</a>
        <a href="http://localhost:5173/notes/login">Login</a>
        <a href="http://localhost:5173/notes/signup">Signup</a>
        <a href="http://localhost:5173/notes/logout">Logout</a>
    </div>
</div>